body {
    font-size: 20PX;
    background-color: #fadadd;
    font-family: "Roboto mono" monospace;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 3px;
    font-weight: 700;
    color: blue;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    gap: 40px;
    margin-top: 0;
}

.image-card {
    background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px;
}

.image-card img {
    width: 250px;
    height: auto;
    margin-right: 20px;
}

h2 {
    font-weight: 400;
    font-size: 25px;
    color: fuchsia;
}

button {
    background-color: #006dda;
    color: #fff;
    cursor: pointer;
    border: 1px solid #006dda;
    transition: 0.4s ease;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
  }
  
  button:hover {
    background-color: #fff;
    color: #006dda;
  }

  footer {
    width: 100%;
    color: blue;
    text-decoration: wavy;
    background-color: #d63384;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
    font-size: larger;

  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
    margin: 40px auto;
    background-color: pink;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
